<!DOCTYPE html>
<html>
  <head>
    <title>Homeloop</title>
    <meta name="viewport" content="width=device-width" />

    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPHXvwPeRpU0w7kch8Im7-0XStD79OGkQ&callback=initMap" async defer></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
    <%= yield %>
  </body>
</html>
