<!DOCTYPE html>
<html>
  <head>
    <title>Homeloop</title>
    <meta name="viewport" content="width=device-width" />

    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPHXvwPeRpU0w7kch8Im7-0XStD79OGkQ"></script>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
   
  </head>

  <body>
    <%= yield %>
  </body>
</html>
