<div class="panel" role="main">
    <div class="container-fluid">
        <div class="row">
            <%= image_tag("logo.png", alt:"Homeloop logo") %>
            <h3> Find previous transactions next to you </h3>
        </div>
        <div class="row">
            <%= form_for(:query, html: {class: 'form-inline'}) do |f| %>
            
                <%= f.email_field :email, class: 'form-control'  %>
            <p>
                <%= f.submit %>
            </p>
            <% end %>
        </div>
    </div>
</div>