<div class="panel" role="main">
    <div class="container">
        <div class="row">
            <%= image_tag("logo.png", alt:"Homeloop logo") %>
            <h1> Find previous transactions next to you </h1>
        </div>
    </div>
</div>